.topbar {
  background: #79B9D2;
  color: white;
  width: 100%;
  z-index: 9999;
  padding: 7px 20px;
}

h1 {
  cursor:pointer;
  margin-top: 6%
}

nav {
  margin-top: 15px;
}

ul {
  padding: 0%;
  margin: 0;
}


a {
  color:white;
  text-decoration:none;
}

ul.post-grid {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  /*padding: 20px;*/
  cursor: pointer;
  transition: background linear 0.5s;
  border-bottom: 1px solid darken(#79B9D2,20);
  display: inline-block;
  margin-top: 10%;
}

h3 {
  color: white;
  /*margin-right: 5%;*/
}

.seperate {
  float : right;
}

.left1{
  float : left;
}

.left2{
  float: left;
  /*margin-right: 2%;*/
}

.seperate{
  float :right;
}


