.row {
  margin-top: 2%;
}

h1 span {
  font-size: 40%;
  color: black;
}

h1 {
  color: #3a8bab;
  margin-bottom: 10%;
}

.filter {
  margin-top: 1%;
  margin-left: 30%;
}

span {
  font-size: 130%;
  margin-bottom: 10%;
  margin-top: 10%;

}

ul.post-grid {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  padding: 20px;
  cursor: pointer;
  border-bottom: 2px solid #3a8bab;
  transition: background linear 0.5s;
  margin-right: 5%;
  margin-bottom: 1%;
  margin-left: 3%;
}

li:hover {
  background: #79B9D2;
  color: white;
  /*font-color : white;*/
}

li:hover h1 {
  color: white;
}

li:hover h1 span {
  color: white;
}

.f_right_pencil {
  float: right;
  margin-right: 8%;
}

.f_right_trash {
  float: right;
}

.invisible {
  visibility: hidden;
}

.backgrd {
  background-color: #79B9D2;
  color: white;
  align-content: center;
}

.backgrd p {
  text-align: center;
  font-size: x-large;
}

.align {
  alignment: center;
}

input[type=text] {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 30%;
}

